/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(222, 211, 211, 0.6);
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: rgba(222, 211, 211,0.6);
}

header h1 {
    margin: 0;
    color: #2F4F4F;
}

header p {
    font-size: 1.2rem;
    color: #2F4F4F;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    min-height: 60vh;
}

#bird-info {
    background: rgba(222, 211, 211,0.6);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.image-container {
    margin-bottom: 2rem;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}

.description-container {
    text-align: left;
}

.description-container h2 {
    color: #2F4F4F;
    margin-bottom: 0.5rem;
}

.description-container p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(222, 211, 211,0.6);
    color: #2F4F4F;
}
